<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/crm_atlas</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">password</property>
        <property name="connection.pool_size">5</property>
        <property name= "cache.provider_class">
            org.hibernate.cache.internal.NoCachingRegionFactory
        </property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">create</property>
        <mapping class="com.becomejavasenior.Company"/>
        <mapping class="com.becomejavasenior.Comment"/>
        <mapping class="com.becomejavasenior.Contact"/>
        <mapping class="com.becomejavasenior.Deal"/>
        <mapping class="com.becomejavasenior.File"/>
        <mapping class="com.becomejavasenior.Phase"/>
        <mapping class="com.becomejavasenior.SessionHistory"/>
        <mapping class="com.becomejavasenior.Tag"/>
        <mapping class="com.becomejavasenior.Task"/>
        <mapping class="com.becomejavasenior.User"/>
        <mapping class="com.becomejavasenior.UserRole"/>
    </session-factory>
</hibernate-configuration>