<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-companyName>CRM Web Application</display-companyName>

    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>com.becomejavasenior.web.DashboardServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddContact</servlet-name>
        <servlet-class>com.becomejavasenior.web.AddContactServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddContact</servlet-name>
        <url-pattern>/add_contact</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>dashboard.jsp</welcome-file>
    </welcome-file-list>

</web-app>
