<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>CRM Web Application</display-name>

    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>com.becomejavasenior.web.DashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>dashboard.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>CompanyServlet</servlet-name>
        <servlet-class>com.becomejavasenior.web.CompanyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompanyServlet</servlet-name>
        <url-pattern>/company</url-pattern>
    </servlet-mapping>

</web-app>
